.footer {
  padding-top: 5rem;
  margin-left: 2rem;
  height: 5vh;
  position: relative;
  div {
    font-weight: bold;
    color: #2487ce;
  }
  p {
    margin-top: 2px;
  }
  span {
    color: #2487ce;
    font-weight: bold;
  }
}